nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(92, 219, 8);
  height: 5rem;
  width: 100%;
  position: fixed;
}
.brand a {
  color: white;
  font-size: 2rem;
  margin-left: 10px;
  text-decoration: none;
  text-shadow: 0 5px 5px rgba(10, 10, 10, 0.6);
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all 0.3;
}

.brand a:hover {
  font-size: calc(2rem * 1.01);
  text-decoration: none;
  text-shadow: 0 5px 15px rgba(10, 10, 10, 0.6);

}
ul {
  display: flex;
  flex-direction: row;
}
ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

ul li a:hover {
  
  background-color: rgb(255, 255, 255);
  color: #000;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(92, 219, 8);
    height: 3rem;
    width: 100%;
    position: absolute;
    
}


