.card {
  width: calc(100vw * 0.3);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
@media (max-width: 900px){
    .card{
        width: 100%;
        justify-content: center;
        height: fit-content;
        align-items: center;
        
    }
}
p {
    font-family: "Playwrite ES Deco", cursive;
    font-optical-sizing: 200;
    /* font-weight: <weight>; */
    font-style: normal;
}
